.App {
  overflow-x: auto !important;
  text-align: center;
  display: grid;
}

::-webkit-scrollbar {
  display: none;
}

.profile {
  height: 100%;
  width: 100%;
  border-radius: 100%;  
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.anime {
  width: 100%;
  height: fit-content;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.content1 {
  width: 100%;
  height: auto;
  max-width: 1200px;
}