.App {
  height: 200vh;
  background: #edf1fd;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  display: flex;
  background: #edf1fd;
  height: fit-content;
  padding: 1%;
  font-family: 'Sofia Sans', sans-serif;
}

.header_l {
  text-align: center;
  font-family: 'Italianno', cursive;
  font-size: 27px;
  width: 15vw;
}

.header_c {
  width: 70vw;
}

.header_r {
  width: 15vw;
  float: left;
}

.mainpage {
  padding-top: 10vh;
}