.App {
  text-align: center;
  display: grid;
}

::-webkit-scrollbar {
  display: none;
}

.profile {
  height: 100%;
  width: 100%;
  border-radius: 100%;  
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.anime {
  width: 100%;
  height: fit-content;
}



.thumbnail {
  width: 50vw;
  border-radius: 15px;
}

.content1 {
  padding: 1%;
  width: 71vw;
}